<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Three.js钻石展示</title>
    <meta name="keywords" content="Three.js,钻石展示">
    <meta name="description" content="Three.js钻石展示的案例">
    <meta name="author" content="lb2020">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>

<body>
    <div id="canvas_frame"></div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>