<div style="color: #616161;">
  <ul style="margin: auto; width: 80%; padding: 0; padding-top: 32px; display: flex; list-style: none;">
      <li style="flex:1;text-align: center; ">
          <img style="width: 50%;" src="/img/wechat.jpeg" />
          <p>微信支付</p>
      </li>
      <li style="flex:1;text-align: center">
          <img style="width: 50%;" src="/img/alipay.jpeg" />
          <p>支付宝支付</p>
      </li>
  </ul>
  <h2 style="font-size: 24px; text-align: center;">如果文章对你有用，请我喝杯星巴克吧</h2>
</div>